/*
!wp-content/

!.gitignore
!README.md

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/hello.php

wp-content/themes/twenty*/

node_modules/

*.log
*.sql
*.sqlite
